<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Survey App</title>
    {% load staticfiles %}
    {% block head %}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "vendor/bootstrap/css/surveyapp.css" %}" rel="stylesheet">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        {% if user.is_authenticated %}
          <a class="navbar-brand" href="{% url 'account:dashboard' %}">Survey App</a>
        {% else %}
          <a class="navbar-brand" href="{% url 'home' %}">Survey App</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}home/surveyquestion/add/">Questions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}home/surveycomplete/">Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}">Sign out</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home
                  <!-- <span class="sr-only">(current)</span> -->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'question' %}">Survey</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'review' %}">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:login' %}">Sign in</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}

    <!-- Page Content -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">A Bootstrap 4 Starter Template</h1>
          <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
          <ul class="list-unstyled">
            <li>Bootstrap 4.0.0-beta</li>
            <li>jQuery 3.2.1</li>
          </ul>
        </div>
      </div>
    </div> -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  </body>

</html>
