{% extends 'base.html' %}
{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Surveys are unavailable</h1>
        <p class="lead">Sorry! Please check back with us soon.</p>
        <ul class="list-unstyled">
          <li>Administration can add questions.</li>
          <li>Would you like to sign in now?</li>
        </ul>
        <br>
        <a class="btn btn-outline-warning btn-custom" href="{% url 'account:login' %}" role="button">Sign in</a>
      </div>
    </div>
  </div>

{% endblock %}
